.container {
    text-align: center;
    color: rgb(22, 211, 5)
}
.targetValue {
    background-image: url('../images/white_crystal.PNG');
    background-repeat: no-repeat;
    width: 415px;
    height: 220px;
    background-size: 100% 100%;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
#targetValue, #counter {
    font-size: 80px;
    -webkit-text-stroke-width: 3px;
    font-weight: bolder;
    -webkit-text-stroke-color: black;
}

}
h1, h2 {
    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
}
.panel {
    border: 2px yellow;
}
h6, .col-sm-3 {
    text-align: center;
    color: rgb(29, 255, 8);
    font-size: 25px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-weight: bolder;
}